@charset "UTF-8";
/* comentario en scss y css*/
/* parcial , estilos de html */
.institucional-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  margin-bottom: 50px;
  align-items: normal;
}

main .tarjeta {
  flex: 1;
  padding: 10px;
  margin: 5px;
  background-color: #ffe5bd;
  color: #001b3b;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  min-height: 200px;
}
main .tarjeta .tarjeta p:first-child {
  margin: 0;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}
main .tarjeta .tarjeta p:not(:first-child) {
  margin: 0;
  color: #001b3b;
  text-align: left;
}

/* estilos html */
main .content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 50px;
}
main .senora {
  margin-right: 15px;
}
main .textoservicio {
  max-width: 600px;
  color: #001b3b;
  margin-right: 10px;
  margin-top: 50px;
}

/* Estilos de html */
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}
main .textodeturnos {
  color: #001b3b;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}
main .textodeturnos {
  color: #001b3b;
  margin: auto;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
main .textodeturnos:hover {
  background-color: #ffe5bd;
}
main .tur {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

/* estilos de html grid*/
.grid-containerdos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 10px;
  padding: 15px;
  margin-bottom: 20px;
}
.grid-containerdos main {
  margin-bottom: 20px;
}

.grid-containerdos .item-g {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  max-width: 100%;
  height: auto;
}

.grid-containerdos img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.maquinas {
  margin-right: 10px;
  margin-left: 10px;
  color: #001b3b;
}

/* estilos de html con grid prestadores*/
.grid-container {
  width: 1100PX;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 5px;
  place-items: center;
}

.grid-container .item-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.grid-container .item-grid img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.hospitales {
  color: #001b3b;
  text-align: justify;
  margin-right: 10px;
  margin-left: 10px;
}

/* estilos footer*/
footer {
  color: #001b3b;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ffe5bd;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
footer a {
  display: block;
  margin-right: 1px;
}
footer a .whata {
  width: 60px;
  height: auto;
}
footer a .instagram {
  width: 60px;
  height: auto;
  position: absolute;
  top: -60%;
  left: 10px;
}
footer p {
  margin: 0;
}

/* Media query - Mobile */
@media only screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  header nav ul a {
    font-size: 1.5rem;
  }
  main .institucional-img {
    flex-basis: 100%;
    margin: 10px 0;
    min-height: auto;
  }
  main .tarjeta p:first-child {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
  }
  main .tarjeta p:not(:first-child) {
    margin: 0;
    color: #001b3b;
    text-align: left;
  }
  .grid-container {
    margin-bottom: 120px;
  }
  .grid-containerdos {
    margin-bottom: 100px;
  }
  .content {
    display: flex;
    margin-top: -45px;
    align-items: flex-start;
  }
  .senora {
    margin-top: 50px;
  }
  .textoservicio {
    margin-top: 10px;
    margin-bottom: 45px;
    color: rgb(241, 241, 241);
  }
}
/*Media query - Desktop*/
@media only screen and (min-width: 961px) {
  body {
    background-color: #F3F3FC;
  }
}
body {
  font-family: "Nunito", sans-serif;
  color: #001b3b;
  background-color: #e2e2e2;
}

.mutual-info {
  width: 100%;
  color: #e2e2e2;
  background-color: #001b3b;
  font-size: 15px;
  text-align: right;
  padding: 2px;
}

/*isologotipo*/
.logotipo1 img {
  width: 100px;
  height: auto;
  position: absolute;
  top: -15px;
  left: -20px;
}

header {
  background-color: #e2e2e2;
  width: 100%;
  text-align: center;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
  list-style: none;
  padding: 5px;
  margin: 0px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
header nav ul li {
  margin-right: 20px;
  list-style-type: none;
  text-decoration: none;
  color: #001b3b;
}
header nav ul li a {
  text-decoration: none;
}
header .carousel-img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

main {
  color: #e2e2e2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main section {
  justify-content: center;
  height: auto;
}

/* Estilo para cambiar el color de la tipografía del navbar */
.navbar-nav .nav-link {
  color: #001b3b;
}

/* Cambia el color  */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
  color: #ffe5bd;
}

/* color "Inicio" */
.navbar-brand {
  color: #001b3b !important;
}

/* Cambiar el color */
.navbar-brand:hover {
  color: #ffe5bd !important;
}

/*# sourceMappingURL=styles.css.map */
