//comentario en sass

/* comentario en scss y css*/


//impor 

@import "page/institucional";
@import "page/servicios";
@import"page/turnos";
@import"page/novedades";
@import"page/prestadores";
@import"utilidades/footer";
@import"utilidades/variables";
@import"utilidades/mixin";
@import"./utilidades/queries";
@import"./utilidades/extend";
@import "./page/formularios";



body { 
    font-family: "Nunito", sans-serif;
    color:$color-secundario;
    background-color: $color-primario;
    
   }


.mutual-info { width: 100%;
    color: $color-primario;
    background-color:$color-secundario;
    font-size: 15px;
    text-align: right;
    padding: 2px;
  }
 
  
  /*isologotipo*/
.logotipo1 img {
    @include medidas ( 130px,auto);
    position: absolute;
    top: 0px; 
    left: 150px;
   

     }
       
   
//nesting

header {
    background-color:$color-primario;
    width: 100%;
    text-align: center;
       

    nav {
        display: flex;
        justify-content: center;
                   
       
        ul {   
            
            display: flex;
            list-style: none;
            padding: 5px;
            margin: 0px;
            justify-content: center;
            flex-wrap: wrap;
            list-style: none;
            li {
                margin-right: 20px;
                list-style-type: none;
                text-decoration: none;
                color: $color-secundario;
            
                
                a   {
                    text-decoration: none;
                                                                                                    
                     }
                    
          
                 }
           
                 }
                 }
    .carousel-img {
        
        @include medidas ( 100%,170px );
        object-fit: cover; 
                               
                    
                }
                             
                }
                
                             
                main {
                    color:$color-primario;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 100%;


                    section {
                        justify-content: center;
                        height: auto;
                                                     
                        }
                    }
                  


/* Estilo para cambiar el color de la tipografía del navbar */
.navbar-nav .nav-link {
    color: $color-secundario; 
}

/* Cambia el color  */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: $color-terciario; 
}

/* color "Inicio" */
.navbar-brand {
    color: $color-secundario !important; 
}

/* Cambiar el color */
.navbar-brand:hover {
    color: $color-quinto!important; 
}

               
              

     

        
                    
     
           

    


