/* parcial , estilos de html */

@import "../utilidades/variables";
   
.institucional-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    margin-bottom: 50px;
    align-items: normal;
  }
  
  main {
    .tarjeta {
      flex:1; 
      padding: 10px;
      margin: 5px;
      background-color: $color-terciario;
      color: $color-secundario;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      height: auto;
      min-height: 200px;
  
    .tarjeta p:first-child {
      margin: 0;
      font-weight: bold;
      text-align: left;
      margin-bottom: 10px; 
    }
  
    .tarjeta p:not(:first-child) {
      margin: 0;
      color: $color-secundario;
      text-align: left;
    }
  }
}
