/* parcial , estilos de html */

@import "../utilidades/variables";

        

.institucional-img {

  flex-direction: row;
  padding: 30px;
  width: 100%;
  margin-bottom: 50px;
 

  .tarjeta {
    flex: 1;
    padding: 10px;
    margin: 5px;
    background-color: $color-primario;
    color: $color-secundario;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
    min-height: 100px;

    p:first-child {
      margin: 0;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }

    p:not(:first-child) {
      margin: 15px;
      color: $color-secundario;
      text-align: left;
    }

    
    &:hover {
      @extend .slide-fwd-center;
    }

    
  }
}



 


