/* estilos de html grid*/
@import "../utilidades/variables";


.grid-containerdos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    grid-template-rows: auto;
    gap: 10px; 
    padding: 15px;
    margin-bottom: 100px;
     
    
}

.grid-containerdos .item-g {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
        &:hover {
        @extend .slide-fwd-center;
         }
   
}

.grid-containerdos img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    border-radius: 8px;

}

.texto-imagen {
    margin-top: 10px;
    color: $color-secundario; 
    font-size: 1rem; 
}   
   



   


