/* estilos de html grid*/
@import "../utilidades/variables";


.grid-containerdos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-template-rows: auto;
    gap: 0px; 
   

}


.grid-containerdos .item-g {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    max-width: 100%;
    height: auto;
}

.grid-containerdos img {
    width: 100%; 
    height: auto; 
}

