/* estilos de html con grid prestadores*/

@import "../utilidades/variables";


.grid-container {
    width: 1100PX;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-template-rows: auto;
    gap: 3px; 
    place-items: center;
    margin-top: -10px;
    margin-bottom: 100px;
}

.grid-container .item-grid {
    
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
}

.grid-container .item-grid img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.hospitales { color: $color-secundario;
    text-align: justify;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -10px;
       

}
