
/* estilos html */

@import "../utilidades/variables";



main {
     .content {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    text-align: left;
    margin-bottom: 50px; 
 
    
}

    .senora {
    margin-right: 15px; 
    
   
    }

    .textoservicio {
    max-width: 600px;
    color: $color-secundario;
    margin-right: 10px;
    margin-top: 50px;
    
}
   

}





