
  

@-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      opacity: 1;
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      opacity: 1;
    }
  }
  
  .slide-fwd-center {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
