

/* Media query - Mobile */


@media only screen and (max-width: 500px) {
    
    
    
    header {
       
        flex-direction: row;
         .logotipo1 { 
            display: flex;
            justify-content: center;
            align-items: center; 
            margin-bottom: 20px
            
              

          }
        nav{
            width: 100%;
            ul{
                flex-direction: column;
                align-items: center;
                margin: 0 10px;
                a{
                    font-size: 1.5rem;
                    
                }
            }
        }
        
    }
            
            // Institucional
         
            .institucional-img {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 5px;
                margin-bottom: 120px;
                align-items: normal;
               
                      
                 
              }
            
          
            .tarjeta p:first-child {
              font-weight: bold;
              font-size: 1.2rem;
              margin-bottom: 10px;
              text-align: left;
            }
          
            .tarjeta p:not(:first-child) {
              margin: 0;
              color: $color-secundario;
              text-align: left;
            }
          
            //novedades
        
       
           .grid-container {
                margin-bottom: 120px; 
             } 
            .grid-containerdos {
                margin-bottom: 100px; 
            
             }

            .content{ 
                display:flex;
                margin-top: -45px;
                align-items: flex-start;

            }

            .senora {
                margin-top:50px;

            }

            .textoservicio {
                margin-top: 10px;
                margin-bottom: 45px;
                color: rgb(241, 241, 241);
            
            }

        }
                       
            
        @media screen and (min-width: 768px) {

            .logotipo1 {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
